<!DOCTYPE html>
<html>
<head>
<body>
    <hr>
            <a href="{% url 'home' %}">Home</a>&NonBreakingSpace;
            <a href="{% url 'about' %}">About</a>&NonBreakingSpace;
            <a href="{% url 'contact' %}">Contact</a>&NonBreakingSpace;
            <a href="{% url 'login' %}">Login</a>&NonBreakingSpace;
            <a href="{% url 'register' %}">Register</a>&NonBreakingSpace;
    
    <form>
        NAME:<input type="text",placeholder="enter user name"><br><br>
        EMAIL:<input type="text",placeholder="enter email"><br><br>
        PASSWORD:<input type="text",placeholder="enter password"><br><br>
        ADDRESS:<input type="address",placeholder="enter valid address"><br><br>