<!DOCTYPE html>
<html>
<head>
    <body>
        <hr>
        <a href="{%url 'home'%}">Home</a>&NonBreakingSpace;
        <a href="{%url 'contact'%}">Contact</a>&NonBreakingSpace;
        <a href="{%url 'login'%}">Login</a>&NonBreakingSpace;
        <a href="{%url 'register'%}">Register</a>&NonBreakingSpace;
        <h1>WELCOME TO THE HOME PAGE</h1>
        <a href="{%url 'showdetails'%}">SHOWDETAILS</a>&NonBreakingSpace;
        <a href="{%url 'delete'%}">DELETE</a>&NonBreakingSpace;
        <a href="{%url 'update'%}">UPDATE</a>&NonBreakingSpace;
         <br><br>
        name:<input type="text",placeholder="enter name"><br><br>
        password:<input type="text",placehlder="enter password"><br><br>
        <input type="submit" Submit>
    </body>
</head>
<html>
    