<!DOCTYPE html>
<html>
<head>
    <body>
        <hr>
        <a href="{%url 'home'%}">Home</a>&NonBreakingSpace;
        <a href="{%url 'contact'%}">Contact</a>&NonBreakingSpace;
        <a href="{%url 'login'%}">Login</a>&NonBreakingSpace;
        <a href="{%url 'register'%}">Register</a>&NonBreakingSpace;

        name:<input type="text",placeholder="enter name"><br><br>
        email:<input type="text",placehlder="enter email"><br><br>
        password:<input type="text",placeholder="enter password"><br><br>
        mobile:<input type="tel",placeholder="enter mobile number"><br><br>
        Gender:<input type="checkbox",placeholder="checkbox"><br><br>
        State:<input type="text",placeholder="enter state"><br><br>
        Country:<input type="text",placeholder="enter country"><br><br>
        Address:<input type="text",placeholder="enter address"><br><br>
        <button type="submit","reset">
    </body>
</head>
<html>
    